.name {
  font-size: 7rem;
  font-weight: bold;
  transform: translateY(-70px) scale(1);
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  color:bisque;
  text-shadow: 4px 4px 1px rgb(109, 90, 78);
  font-family: 'Times'
}

.name:hover {
  transform: translateY(-70px) scale(1.2);
  letter-spacing: 0.08em;
}